<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">Activity Report</div>
    </ion-nav-title>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item" href="#/ActivityReport">
                <strong>Add Activity Type</strong>
            </a>
            <a class="tab-item active" href="#/AddActivity">
                <strong>Add Activity</strong>
            </a>
        </div>
    </div>
    <ion-content class="padding">
        <form name="Form">
            <br />
            <br />
            <br />
            <br />
                <label class="item item-input">
                    <input type="text" ng-model="FormattedDate" placeholder="Date" ng-click="activitySetDateTime()">
                </label>
          

            <label class="item item-input item-select" style="margin-top: 14px;">
                <label class="input-label">
                    Batch
                </label>
                <select ng-model="selected.Batch" ng-options="r.Id as r.Name for r in Batchlist"></select>
            </label>
            <label class="item item-input item-select" style="margin-top: 14px;">
                <label class="input-label">
                    Course
                </label>
                <select ng-model="selected.Course" ng-options="r.Id as r.Name for r in CourseList"></select>
            </label>
            <br />
            <br />
            <button class="button button-block button-positive" ng-disabled="!selected.Batch || !selected.Course" ng-click="GetStudentsList()">
                Next
            </button>
            </form>
    </ion-content>
</ion-view>