<ion-view>
    <ion-nav-title>
        <img src="Paatashala.png" style="height:100%;">
        <div style="vertical-align: top;display:inline">Medicine Report</div>
    </ion-nav-title>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item " href="#/MedicineReport">
                <strong>Add Medicine Type</strong>
            </a>
            <a class="tab-item active" href="#/MedicineAddStudent">
                <strong>Add Medicine</strong>
            </a>
        </div>
    </div>
    <ion-content class="padding">
        <form name="Form">
            <br />
            <br />
            <br />
            <br />
            <label class="item item-input item-select" style="margin-top: 14px;">
                <label class="input-label">
                    Medicine
                </label>
                <select ng-model="data.Medicine" ng-options="r.Id as r.Name for r in Medicinelist"></select>
            </label>
            <br />
            <label class="item item-input item-stacked-label">
                <span class="input-label">Dosage</span>
                <input type="text" placeholder="1 tablet, 10 ml" ng-model="data.Dosage">
            </label>
            <br />
            <label class="item item-input item-stacked-label">
                <span class="input-label">Administered Date</span>
                <input type="text" placeholder="Date" ng-model="FormattedDate" ng-click="MedicineSetDateTime()">
            </label>
            <br />

            <label class="item item-input item-stacked-label">
                <span class="input-label">Administered Time</span>
                <input type="text" placeholder="Time" ng-model="Formattedtime" ng-click="getCheckInTime()">
            </label>
            <br />
            <br />

            <!--<div class="list list-inset" ng-repeat="x in userArray">

        <div class="item item-button-right">
            {{x.Medicine}}
            <button class="button button-positive">
                <i class="icon ion-close-round"></i>
            </button>
        </div>
    </div>-->
            <!--<table>
        <tr ng-repeat="x in userArray">
            <td>
                {{x.Medicine}}
            </td>
            <td>
                {{x.Dosage}}
            </td>
            <td>
                <span ng-click="removeItem($index)">×</span>
            </td>
        </tr>
    </table>-->
            <button class="button button-positive button-block" ng-disabled="!data.Medicine || !data.Dosage" ng-click="AddMedicineToStudent(data)"> Save</button>
            <br />
            <!--<button class="button button-positive button-block" ng-click="SendMedicinesToSave()"> Next</button>-->
        </form>
    </ion-content>
</ion-view>